<?xml version="1.0"?>

<launch>
   

    <param name="robot_description" command="$(find xacro)/xacro $(find dji_gimbal)/urdf/camera_on_gimbal.xacro --inorder" />
	<param name="use_gui" value="False"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
        <remap from="/joint_states" to="/dji_gimbal/joint_states" />
    </node>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <remap from="/joint_states" to="/dji_gimbal/joint_states" />
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dji_gimbal)/rviz/urdf.rviz" required="true"/>

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model dji_gimbal -param robot_description"/>

    <include file="$(find dji_gimbal)/launch/gimbal_controll.launch"/>

</launch>
