<?xml version="1.0"?>

<launch>
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find dji_gimbal)/config/gimbal_dji_control.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="gimbal_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" 
       output="screen" ns="/dji_gimbal" args="roll_position_controller 
                                              pitch_position_controller 
                                              yaw_position_controller 
                                              gimbal_joint_state_controller"/>

</launch>
